:root{
    --connectivity-background : #fff;
--connectivity-side : #2ecc71;
--connectivity-wifi-icon : #2ecc71; 
--x-icon : #f2f2f2;
}
.dark-theme-variables{
    --connectivity-background : #181a1e;
    --connectivity-side : #caf0f8;
    --connectivity-wifi-icon : #0078D7;
    --x-icon : #caf0f8;
}
.connectivity-toast-wrapper{
     position: absolute;
     top: 20px;
     left: 10px;
     animation: show_connectivity_toast 1s ease forwards;
     z-index: 2;
     font-family: "Poppins", sans-serif;
}
.connectivity-toast-wrapper.visibility{
    display: none;
}
@keyframes show_connectivity_toast {
    0%{
        transform: translateX(-100%);
    }
    40%{
        transform: translateX(10%);
    }
    80%, 100%{
        transform: translateX(20px);
    }
}
.connectivity-toast-wrapper.hide{
    animation: hide_connectivity_toast 1s ease forwards;
}
@keyframes hide_connectivity_toast {
    0%{
        transform: translateX(20px);
    }
    40%{
        transform: translateX(10%);
    }
    80%, 100%{
        opacity: 0;
        pointer-events: none;
        transform: translate(-100%);
    }
}
.connectivity-toast-wrapper .connectivity-toast{
    background: var(--connectivity-background);
    padding: 20px 15px 20px 20px;
    border-radius: 10px;
    border-left: 5px solid var(--connectivity-side);
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.15);
    width: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.connectivity-toast-wrapper .connectivity-toast.offline{
border-color: #ccc;
}
.connectivity-toast .connectivity-toast-content{
    display: flex;
    align-items: center;
}
.connectivity-toast-content .connectivity-toast-wifi-icon{
    font-size: 25px;
    color: #fff;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background: var(--connectivity-wifi-icon);
}
.connectivity-toast.offline .connectivity-toast-content .connectivity-toast-wifi-icon{
    background: #ccc;
}
.connectivity-toast-content .connectivity-toast-details{
    margin-left: 15px;
}
.connectivity-toast-details .toast-details-span{
    font-size: 20px;
    font-weight: 700;
}
.connectivity-toast-details p {
    color: #878787;
}
.connectivity-toast .connectivity-toast-close-icon{
    color: #878787;
    font-size: 23px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background: var(--x-icon);
    transition: all 0.3s ease;

}
@media screen and (max-width:768px) {
    .connectivity-toast-wrapper{
        left: -7px;

    }
.connectivity-toast-wrapper .connectivity-toast{
    width: 370px;
}
}





