/* 
 * {
  scrollbar-width: 0;
}

*::-webkit-scrollbar {
  background-color: transparent;
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background-color: #ddd;
  border: 4px solid #fff;
}  */
/* 
.litenote-terms-and-conditions-modal{
    scrollbar-width: 0;
  }
  
  .litenote-terms-and-conditions-modal::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
  }
  
  .litenote-terms-and-conditions-modal::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #ddd;
    border: 4px solid #fff;
  }  */
  

.litenote-terms-and-conditions-modal {
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;

  
  /* background-color: rgba(0, 0, 0, 0.25); */
}

.litenote-terms-and-conditions-modal-container {
  max-height: 90vh;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.25);
  box-shadow: -10px 10px 40px rgba(0,0,0,0.25);

  position: fixed;
  z-index: 2;
  bottom: 5%;
}
@media (max-width: 600px) {
    .litenote-terms-and-conditions-modal-container {
    width: 90%;
  }
}

.litenote-terms-and-conditions-modal-container-header {
  padding: 16px 32px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.litenote-terms-and-conditions-modal-container-title {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1;
  font-weight: 700;
  font-size: 1rem;
}
.litenote-terms-and-conditions-modal-container-title svg {
  width: 32px;
  height: 32px;
  color: #ff5e62;
}

.litenote-terms-and-conditions-modal-container-body {
  padding: 24px 32px 51px;
  overflow-y: auto;
}
.litenote-terms-and-conditions-modal-container-footer {
  padding: 20px 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #ddd;
  gap: 12px;
  position: relative;
  background-color: white;
}
.litenote-terms-and-conditions-modal-container-footer:after {
  content: "";
  display: block;
  position: absolute;
  top: -51px;
  left: 24px;
  right: 24px;
  height: 50px;
  flex-shrink: 0;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.75), transparent);
  pointer-events: none;
}

.litenote-terms-and-conditions-button {
  padding: 12px 20px;
  border-radius: 8px;
  background-color: transparent;
  border: 0;
  font-weight: 600;
  cursor: pointer;
  transition: 0.15s ease;
}
.litenote-terms-and-conditions-button.is-ghost:hover, .button.is-ghost:focus {
  background-color: #dfdad7;
}
.litenote-terms-and-conditions-button.is-primary {
  background-color: #ff5e62;
  color: #fff;
}
.litenote-terms-and-conditions-button.is-primary:hover, .button.is-primary:focus {
  background-color: #dfdad7;
  color: black;
}

.litenote-terms-and-conditions-icon-button {
  padding: 0;
  border: 0;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.15s ease;
}
.litenote-terms-and-conditions-icon-button svg {
  width: 24px;
  height: 24px;
}
.litenote-terms-and-conditions-icon-button:hover, .icon-button:focus {
  background-color: #dfdad7;
}