/* changes 2-pack*/
.litenote-toast{
    position: fixed;
    top : 25px;
    right: 30px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    border-left: 5px solid #ff5e62;
    z-index: 4;
    transform: translateX(calc(200% + 30px));
   transition: all 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}
.litenote-toast.active{
transform: translateX(0%);
}
.litenote-toast .litenote-toast-content{
    display: flex;
    align-items: center;
}
.toast-check{
    height: 35px;
    width: 35px;
    background-color: #ff5e62;
    color: #fff;
    /* font-size: 20px; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   
    
}
.litenote-toast-content .litenote-toast-message{
display: flex;
flex-direction: column;
margin: 0 20px;
}
.litenote-toast-message{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.litenote-toast-message .text{
    font-size: 20px;
    font-weight: 400;
    color: #6666;
}
.litenote-toast-message .text.text-1{
    font-weight: 600;
    color: #333;
}
.toast-close{
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}
.toast-close:hover{
    opacity: 1;
}
.litenote-toast-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
}
.litenote-toast-progress:before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ff5e62;
    height: 100%;
    width: 100%;
}
.litenote-toast-progress.active:before{
animation: progress 5s linear forwards;
}
@keyframes progress{
    100%{
        right: 100%;
    }
}