------------Main------------
main{
    margin-top:1.4rem ;
}
main .litenote-dashboard-date{
   display: inline-block;
   background: var(--color-light);
   border-radius: var(--border-radius-1);
   margin-top: 1rem;
   padding: 0.5rem 1.6rem;
}
main .litenote-dashboard-date input[type="date"]{
  background: transparent;
  color: var(--color-dark); 
}

main .litenote-dashboard-insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}
main .litenote-dashboard-insights > div {
   background: var(--color-white) ;
    padding: var(--card-padding);
   border-radius: var(--card-border-radius);
   margin-top: 1rem;
   box-shadow:var(--box-shadow);
   transition: all 300ms ease ;
}
main .litenote-dashboard-insights > div:hover{
   box-shadow: none;
}
main .litenote-dashboard-insights > div span{
background: var(--color-primary);
padding: 0.5rem;
border-radius: 50%;
color: var(--color-white);
/* font-size: 2rem; */
}
main .litenote-dashboard-insights > div.litenote-dashboard-views span{
background: var(--color-danger);
}
main .litenote-dashboard-insights > div.litenote-dashboard-users span{
    background: var(--color-danger);
    }
main .litenote-dashboard-insights >div.litenote-dashboard-Stories span{
background: var(--color-success);
}
main .litenote-dashboard-insights > div .litenote-dashboard-middle{
display: flex;
align-items: center;
justify-content: space-between;
}
main .litenote-dashboard-insights h3{
margin: 1rem 0 0.6rem;
font-size: 1rem;
}

main .litenote-dashboard-insights .litenote-dashboard-progress{
position: relative;
width:92px;
height:92px;
border-radius:50%;
}
/* main .litenote-dashboard-insights .icon-dashboard{
width: 7rem;
height:7rem ;
} */
main .litenote-dashboard-insights svg circle {
fill: none;
stroke: var(--color-primary);
stroke-width: 14;
stroke-linecap:round;
transform: translate(5px , 5px);
stroke-dasharray: 110;
stroke-dashoffset: 92;
}
main .litenote-dashboard-insights .litenote-dashboard-Stories svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}
main .litenote-dashboard-insights .litenote-dashboard-views svg circle {
    stroke-dashoffset: 20;
    stroke-dasharray: 199;
}
main .litenote-dashboard-insights .litenote-dashboard-authors svg circle {
    stroke-dashoffset: 20;
    stroke-dasharray: 208;
}
main .litenote-dashboard-insights .litenote-dashboard-likes svg circle {
    stroke-dashoffset: 20;
    stroke-dasharray: 196;
}main .litenote-dashboard-insights .litenote-dashboard-users svg circle {
    stroke-dashoffset: 20;
    stroke-dasharray: 196;
}
main .litenote-dashboard-insights .litenote-dashboard-comments svg circle {
    stroke-dashoffset: 20;
    stroke-dasharray: 196;
}
main .litenote-dashboard-insights .litenote-dashboard-progress .litenote-dashboard-number{
   position: absolute;
   top:0;
   left: 0;
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
main .litenote-dashboard-insights .small{
    margin-top: 1.3rem;
    display: block;
}
