.litenote-dashboard-right{
  margin-top: 1.4rem;
    }
    .litenote-dashboard-right .litenote-dashboard-top{
      display: flex;
      justify-content: end;
      gap:2rem;
      
    }
    .litenote-dashboard-right .litenote-dashboard-top button{
      display: none;
    }
    .litenote-dashboard-right .litenote-dashboard-theme-toggler{
     background: var(--color-light);
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 1.6rem;
     /* width:3.2rem; */
     width:4rem;
     cursor: pointer;
     border-radius: var(--border-radius-1);
    }
    .litenote-dashboard-right .litenote-dashboard-theme-toggler span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .litenote-dashboard-right .litenote-dashboard-theme-toggler span.active{
   background: var(--color-primary);
   color: #fff;
   border-radius: var(--border-radius-1);
    }
    .litenote-dashboard-right .litenote-dashboard-top .litenote-dashboard-profile{
  display: flex;
  gap: 2rem;
  text-align: right;

    }
    .text-muted{
      color: var(--color-info-dark);

   }
  
.profile-text{
margin-bottom: 0px;
padding-bottom: 0px;
}



