.litenote-dashboard-slide-up{
    background: var(--toast-background);
    padding: 2em;
    border-radius: 2em;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .50);
    font-size: 1.3rem;
    position: fixed;
    bottom: -200px;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: all  0.5s ease;
    z-index: 2;
    
}
.litenote-dashboard-slide-up.show{
    bottom: 20px;
}
.slidesubmitbtn{
    background: #caf0f8;
    color: #03045e;
    padding: 11px 34px;
    border-radius: 7px;
    font-weight: 600;
    display: inline-block;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
}
@media screen and (max-width:1200px) {
    .litenote-dashboard-slide-up{
        flex-direction: column;
        padding-top: 1em;
        padding-bottom: 1em;
        gap: 15px;
    }
}
@media screen and (max-width:768px) {
    .litenote-dashboard-slide-up{
        flex-direction: column;
        width: 90%;
        padding-top: 1em;
        padding-bottom: 1em;
        gap: 10px;
    }

}