.litenote-login-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:  linear-gradient(to right, #ff9966, #ff5e62);
}

.litenote-login-container {
  position: relative;
  width: 350px;
  min-height: 500px;
  background: rgba(99, 78, 78, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  font-family: "Poppins", sans-serif;
}

.litenote-login-form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.litenote-login-form h2 {
  position: relative;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.litenote-login-form h2::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 80px;
  height: 4px;
  background:  #ff5e62;;
}

.litenote-login-form .litenote-login-input-group {
  width: 100%;
  margin-top: 20px;
}

.litenote-login-form .litenote-login-input-group input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid rgba(128, 116, 116, 0.2);
  background: rgba(0, 0, 0, 0.3); 
  color: #ffffff;
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.litenote-login-form .litenote-login-input-group input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.litenote-login-form .litenote-login-submit-btn {
  width: 100%;
  padding: 10px 20px;
  font-size: 17px;
  border-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0.863);
  color: #ff5e62;
  outline: none;
  border: none;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(22, 21, 20, 0.2);
  transition: all 0.3s ease;
  margin-top: 40px;

}

.litenote-login-form .litenote-login-submit-btn:hover {
  letter-spacing: 1px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  background-color: #ff5e62;
   color: #fff;
}

.litenote-login-form .litenote-login-register-link {
  text-align: center;
  margin-top: 20px;
}

.litenote-login-form .litenote-login-register-link a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 0.3s ease;
}

.litenote-login-form .litenote-login-register-link a:hover {
  color: #fff;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.litenote-login-form .litenote-login-input-group span {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 26px;
  color: #ff5e62;
  letter-spacing: 1px;
  animation: animate 5s linear infinite;
}