.litenote-pagination-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: auto;
    background: #e5e7eb;
    backdrop-filter: blur(10px);
    padding: 20px 30px;
    border-radius: 5px;
  }
  
  .litenote-pagination-number-list{
    display: inline-flex;
    list-style: none;
    margin-left: 0%;
   padding: 0.5%;
  }
  
  .litenote-pagination-number-list li{
    margin: 0 10px;
    background-color: #dcdee1;
    backdrop-filter: blur(10px);
    color: #ff5e62;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .litenote-pagination-number-list li.active{
    background: #ff5e62;
    color: #fff;
  }
  
  .litenote-pagination-controlbutton{
    background: transparent;
    cursor: pointer;
    color: #ff5e62;
    border: 2px solid #ff5e62;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 1.5%;
    
  }
  @media (max-width: 1023px) {
    .litenote-pagination-btn1{
      margin-bottom: 1rem;
    }
    .litenote-pagination-number-list{
      display: flex;
      flex-wrap: wrap;
    }
  }
  @media (max-width: 767px) {
    .litenote-pagination-container{
      display: flex;
  flex-wrap: wrap;

    }
    .litenote-pagination-number-list{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .litenote-pagination-number-list li{
        margin: 5%;
    }
    .litenote-pagination-number-list{
      display: flex;
      flex-wrap: wrap;
    }
    .container{
    padding: 10%;
    }
  
  .litenote-pagination-number-list .link{
    margin: 1%;
  }
  .litenote-pagination-btn1{
    margin-bottom: 1rem;
  }
  }